[submodule "src/UmbCheckout.Stripe"]
	path = src/UmbCheckout.Stripe
	url = https://github.com/UmbHost/UmbCheckout.Stripe.git
[submodule "src/UmbCheckout.uSync"]
	path = src/UmbCheckout.uSync
	url = https://github.com/UmbHost/UmbCheckout.uSync.git
[submodule "src/UmbCheckout.Stripe.uSync"]
	path = src/UmbCheckout.Stripe.uSync
	url = https://github.com/UmbHost/UmbCheckout.Stripe.uSync.git
