<div ng-controller="UmbCheckout.Settings.Controller as vm" class="umbcheckout">
    <form></form>
    <form name="configurationForm" novalidate val-form-manager ng-submit="vm.saveConfiguration()">
        <umb-panel>
            <umb-editor-view class="form-horizontal">
                <umb-editor-header name="'UmbCheckout'"
                                   name-locked="true"
                                   hide-alias="true"
                                   show-back-button="false"
                                   hide-description="true"
                                   hide-icon="true">
                </umb-editor-header>
                <umb-editor-container>
                    <umb-pane>
                        <div class="dashboard-overview">
                            <div class="left-col">
                                <umb-box>
                                    <umb-box-content>
                                        <h1>UmbCheckout</h1>

                                        <p class="muted">
                                            Documentation available at <a href="https://docs.umbcheckout.net/" target="_blank">https://docs.umbcheckout.net/</a>. Please report any issues in the bug tracker found on the <a target="_blank" href="https://github.com/UmbHost/UmbCheckout/issues">GitHub Repo here</a>.<br />
                                        </p>

                                        <p class="red bold" ng-if="!vm.LicenseState.Valid" ng-bind-html="vm.LicenseState.Message">
                                        </p>

                                    </umb-box-content>
                                </umb-box>
                                <umb-box>
                                    <umb-box-header title="Configuration"></umb-box-header>
                                    <umb-box-content>
                                        <umb-property property="property" ng-repeat="property in vm.properties">
                                            <umb-property-editor model="property"></umb-property-editor>
                                        </umb-property>
                                    </umb-box-content>
                                </umb-box>
                            </div>
                            <div class="right-col">
                                <umb-box>
                                    <umb-box-header title="License Details"></umb-box-header>
                                    <umb-box-content class="block-form ">
                                        <div class="umb-property" label="License Status">
                                            <div class="control-group umb-control-group">
                                                <div class="umb-el-wrap">
                                                    <label class="control-label" for=""> <span>License Status</span></label>
                                                    <div class="controls">
                                                        <div style="display: flex; justify-content: space-between;align-items: center;">
                                                            <div>{{vm.LicenseState.Status.status}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="umb-property" label="Registration Date">
                                            <div class="control-group umb-control-group">
                                                <div class="umb-el-wrap">
                                                    <label class="control-label" for=""> <span>Registration Date</span></label>
                                                    <div class="controls">
                                                        <div style="display: flex; justify-content: space-between;align-items: center;">
                                                            <div>{{vm.LicenseState.Status.regDate}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="umb-property" label="Expiry Date" ng-if="vm.LicenseState.Status.expiryDateTime != '0000-00-00'">
                                            <div class="control-group umb-control-group">
                                                <div class="umb-el-wrap">
                                                    <label class="control-label" for=""> <span>Expiry Date</span></label>
                                                    <div class="controls">
                                                        <div style="display: flex; justify-content: space-between;align-items: center;">
                                                            <div>{{vm.LicenseState.Status.expiryDateTime}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="umb-property" label="Valid Domains">
                                            <div class="control-group umb-control-group">
                                                <div class="umb-el-wrap">
                                                    <label class="control-label" for=""> <span>Valid Domains</span></label>
                                                    <div class="controls">
                                                        <div style="display: flex; justify-content: space-between;align-items: center;">
                                                            <div>{{vm.LicenseState.Status.validDomains}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="umb-property" label="Valid Path">
                                            <div class="control-group umb-control-group">
                                                <div class="umb-el-wrap">
                                                    <label class="control-label" for=""> <span>Valid Path</span></label>
                                                    <div class="controls">
                                                        <div style="display: flex; justify-content: space-between;align-items: center;">
                                                            <div>{{vm.LicenseState.Status.validPaths}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <umb-button action="vm.checkLicence()"
                                                    type="button"
                                                    button-style="action"
                                                    state="vm.checkLicenceButtonState"
                                                    label="Re-Check License"
                                                    disabled="vm.checkLicenceButtonState === 'busy'">
                                        </umb-button>
                                    </umb-box-content>
                                </umb-box>
                                <umb-box ng-repeat="property in vm.LicenseState.Status.licenseAddons">
                                    <umb-box-header title="License Addon - {{property.name}}"></umb-box-header>
                                    <umb-box-content class="block-form ">
                                        <div class="umb-property" label="{{property.name}}">
                                            <div class="control-group umb-control-group">
                                                <div class="umb-el-wrap">
                                                    <label class="control-label" for=""> <span>License Status</span></label>
                                                    <div class="controls">
                                                        <div style="display: flex; justify-content: space-between;align-items: center;">
                                                            <div>{{property.status}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="umb-property" label="{{property.name}}"  ng-if="property.nextDueDate != '0000-00-00'">
                                            <div class="control-group umb-control-group">
                                                <div class="umb-el-wrap">
                                                    <label class="control-label" for=""> <span>Expiry Date</span></label>
                                                    <div class="controls">
                                                        <div style="display: flex; justify-content: space-between;align-items: center;">
                                                            <div>{{property.nextDueDate}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </umb-box-content>
                                </umb-box>
                            </div>
                        </div>
                    </umb-pane>
                </umb-editor-container>

                <umb-editor-footer>
                    <umb-editor-footer-content-left>
                        <a href="https://umbhost.net" class="btn umb-button__button btn-link umb-button-- umb-outline" ng-if="!vm.LicenseState.Valid">
                            Made with <span class="color-pink icon icon-hearts"></span> by UmbHost Limited
                        </a>
                    </umb-editor-footer-content-left>

                    <umb-editor-footer-content-right>
                        <umb-button type="submit"
                                    button-style="success"
                                    state="vm.saveButtonState"
                                    label-key="buttons_save"
                                    shortcut="ctrl+s"
                                    disabled="vm.saveButtonState === 'busy'">
                        </umb-button>
                    </umb-editor-footer-content-right>
                </umb-editor-footer>

            </umb-editor-view>
        </umb-panel>
    </form>
</div>
