<div ng-controller="UmbCheckout.ShippingRates.Controller as vm" class="umbcheckout">
    <umb-editor-view header="false" class="form-horizontal">
        <umb-editor-container class="dashboard">
            <umb-box>
                <umb-box-content>
                    <h1><span ng-if="!vm.LicenseState.Valid">UmbCheckout - </span>Stripe Shipping Rates</h1>

                    <p class="muted">
                        You will need to create your Shipping Rates within your <a href="https://dashboard.stripe.com/shipping-rates" target="_blank">Stripe account here</a> before you can add them.
                    </p>

                    <p class="red bold" ng-if="!vm.LicenseState.Valid" ng-bind-html="vm.LicenseState.Message">
                    </p>

                </umb-box-content>
            </umb-box>
            <umb-editor-sub-header>
                <umb-button action="vm.clickCreateButton()"
                            type="button"
                            button-style="outline"
                            label="Create Shipping Rate">
                </umb-button>
            </umb-editor-sub-header>
            <umb-box>
                <umb-box-header title="Shipping Rates"></umb-box-header>
                <umb-box-content>
                    <umb-table ng-if="vm.shippingRates"
                               items="vm.shippingRates"
                               on-click="vm.clickItem(item)"
                               item-properties="vm.options.includeProperties">
                    </umb-table>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-left>
                <a href="https://umbhost.net" class="btn umb-button__button btn-link umb-button-- umb-outline" ng-if="!vm.LicenseState.Valid">
                    Made with <span class="color-pink icon icon-hearts"></span> by UmbHost Limited
                </a>
            </umb-editor-footer-content-left>

            <umb-editor-footer-content-right>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>