<div ng-controller="UmbCheckout.ShippingRate.Controller as vm" class="umbcheckout">
    <form></form>
    <form name="shippingRateForm" novalidate val-form-manager ng-submit="vm.saveShippingRate()">
        <umb-editor-view header="false" class="form-horizontal">
            <umb-editor-container class="dashboard">
                <umb-box>
                    <umb-box-content>
                        <h1><span ng-if="!vm.LicenseState.Valid">UmbCheckout - </span>Add Stripe Shipping Rate</h1>

                        <p class="muted">
                            You will need to create your Shipping Rates within your <a href="https://dashboard.stripe.com/shipping-rates" target="_blank">Stripe account here</a> before you can add them below.
                        </p>

                        <p class="red bold" ng-if="!vm.LicenseState.Valid" ng-bind-html="vm.LicenseState.Message">
                        </p>

                    </umb-box-content>
                </umb-box>
                <umb-box>
                    <umb-box-header title="Shipping Rate"></umb-box-header>
                    <umb-box-content>
                        <umb-property property="property" ng-repeat="property in vm.properties">
                            <umb-property-editor model="property"></umb-property-editor>
                        </umb-property>
                    </umb-box-content>
                </umb-box>
            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-left>
                    <a href="https://umbhost.net" class="btn umb-button__button btn-link umb-button-- umb-outline" ng-if="!vm.LicenseState.Valid">
                        Made with <span class="color-pink icon icon-hearts"></span> by UmbHost Limited
                    </a>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>
                    <umb-button type="button"
                                button-style="danger"
                                state="vm.deleteButtonState"
                                action="vm.deleteTaxRate()"
                                label-key="delete"
                                disabled="vm.deleteButtonState === 'busy'">
                    </umb-button>
                    <umb-button type="submit"
                                button-style="success"
                                state="vm.saveButtonState"
                                label-key="buttons_save"
                                shortcut="ctrl+s"
                                disabled="vm.saveButtonState === 'busy'">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>